
#contact-form {
    letter-spacing: -4px;
    margin-right: -1px;
    position: relative;
}
#contact-form label {
    box-sizing: border-box;
    display: block;
    letter-spacing: normal;
    margin-bottom: 15px;
    max-width: 370px;
    position: relative;
}
#contact-form label:first-child {
    margin-left: 0;
}
@media (max-width: 979px) {
#contact-form label {
    max-width: 100%;
}
}
#contact-form label.message {
    margin-bottom: 26px;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}
#contact-form fieldset {
    border: medium none;
}
#contact-form ._placeholder {
    border-radius: 0;
    box-sizing: border-box;
    color: #777777;
    cursor: text;
    display: block;
    font-family: "Lato",sans-serif;
    font-size: 15px;
    left: 0;
    line-height: 28px;
    padding: 7px 15px 9px;
    position: absolute;
    top: 0;
    width: 100% !important;
}
#contact-form ._placeholder.focused {
    opacity: 0.4;
}
#contact-form ._placeholder.hidden {
    display: none;
}
#contact-form .file ._placeholder {
    display: none;
}
#contact-form input[type="text"] {
    background-color: transparent;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    box-sizing: border-box;
    color: #777777;
    font-family: "Lato",sans-serif;
    font-size: 15px;
    height: 43px;
    line-height: 28px;
    margin: 0;
    outline: medium none;
    padding: 7px 15px 9px;
    width: 100%;
}
#contact-form .btn-wrapper {
    letter-spacing: normal;
    text-align: right;
}
#contact-form .btn-wrapper .btn_2 {
    margin-left: 25px;
}
#contact-form textarea {
    background-color: transparent;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    box-sizing: border-box;
    color: #777777;
    font-family: "Lato",sans-serif;
    font-size: 15px;
    height: 243px !important;
    line-height: 28px;
    outline: medium none;
    overflow: auto;
    padding: 7px 15px 9px;
    resize: none;
    width: 100%;
}
#contact-form .empty-message, #contact-form .error-message {
    color: red;
    font-size: 11px;
    height: 0;
    overflow: hidden;
    position: absolute;
    right: 3px;
    top: 2px;
    transition: height 0.3s ease-in 0s;
    z-index: 99;
}
#contact-form .invalid .error-message, #contact-form .empty .empty-message {
    height: 20px;
}
#contact-form .contact-form-loader {
    background: url("../images/form-loader.gif") no-repeat scroll 50% 50% / 5% auto rgba(247, 247, 247, 0.48);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
#contact-form.processing .contact-form-loader {
    opacity: 0.7;
    transition: all 0.3s ease-in 0s;
    z-index: 99;
}
.modal-open {
    overflow: hidden;
}
#contact-form .modal {
    bottom: 0;
    display: none;
    font-family: "Lato",sans-serif;
    font-size: 13px;
    left: 0;
    letter-spacing: normal;
    outline: 0 none;
    overflow-x: auto;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}
#contact-form .modal h4 {
    color: #000;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.modal.fade .modal-dialog {
    transform: translate(0px, -25%);
    transition: transform 0.3s ease-out 0s;
}
.modal.in .modal-dialog {
    transform: translate(0px, 0px);
}
.modal-content {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: medium none;
    position: relative;
}
.modal-backdrop {
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop.in {
    opacity: 0.5;
}
.modal-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.4286px;
    padding: 15px;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    line-height: 1.42857;
    margin: 0;
}
.modal-body {
    padding: 20px;
    position: relative;
}
.modal-dialog {
    margin: 10px auto;
    width: 600px;
}
@media only screen and (max-width: 768px) {
.modal-dialog {
    margin: 10px;
    position: relative;
    width: auto;
}
}
.close {
    color: #000000;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #ffffff;
}
.close:hover, .close:focus {
    color: #000000;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: none;
}
button.close {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}